
.table1-responsive {
    /*text-align: center;*/
    font-family: Superspace;
    color: #3C3C3C;
    
    
  }
  
  div.boxbm {
      background-color: white;
      height: 1430px;
      width: 100%;
      display: block;
      padding: 140px 0px;
      border: 0px solid blue; 
      position: absolute;
  }

  
  .fas {
    margin: 140px;
    font-size: 140px;
    color: #E3E3E3;
    position: absolute;
    top: 0px; left: 10px;
  }
  
  p.user {
    font-family: Superspace;
    font-size: 35px;
    position: absolute;
    padding: 165px;
    margin-left: 190px;
  
    }
  
    .button3u5 {
      padding: 5px 35px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      position: absolute;
    }
  
    .button4u5 {
      background-color: #F7A8B4;
      border: none;
      color: white;
      font-size: 15px;
      margin-top: 220px;
      margin-left: 355px;
      border-radius: 30px;
    }
    .button4u5:hover {
      background-color: #F68D9D;
    }
  
    .button5u5 {
      background-color: #A2CDBE;
      border: none;
      color: white;
      font-size: 15px;
      margin-top: 5%;
      margin-left: 530px;
      border-radius: 30px;
    }
    .button5u5:hover {
      background-color: #7DCFB2;
    }
  
    .button6u5 {
      background-color: #EAEAEA;
      color: #4A4A4A;
      font-size: 19px;
      margin-top: 210px;
      margin-left: 1350px;
      border-radius: 10px;
      border: 1px solid #707070;
    }
    .button6u5:hover {
      background-color: #D0D0D0;
    }
  
    .button7u5 {
      background-color: #D0D0D0;
      color: #4A4A4A;
      font-size: 19px;
      margin-top: 210px;
      margin-left: 1550px;
      border-radius: 10px;
      border: 1px solid #707070;
    }
    /*.button7u5:hover {
      background-color: #D0D0D0;
    }*/
  
    div.polaroid2b {
        width: 70%;
        height: 219px;
        background-color: #F4F4F4;
        /*margin-bottom: 25px;*/
        border-radius: 25px;
        position: absolute;
        margin-top: 80px;
        margin-left: 320px;
      }

      div.polaroid3b {
        width: 70%;
        height: 219px;
        background-color: #F4F4F4;
        /*margin-bottom: 25px;*/
        border-radius: 25px;
        position: absolute;
        margin-top: 380px;
        margin-left: 320px;
      }

      div.polaroid4b {
        width: 70%;
        height: 219px;
        background-color: #F4F4F4;
        /*margin-bottom: 25px;*/
        border-radius: 25px;
        position: absolute;
        margin-top: 680px;
        margin-left: 320px;
      }
    
    div.containeru5 {
      /*text-align: left;*/
      padding: 20px 20px;
      border-radius: 20px;
      position: absolute;
      top:0px; left:360px;
      
    }
    
    .img3-responsive {
    border-radius: 20px;
    position: absolute;
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    }
  
  p.infor {
    color: black;
    font-size: 24px;
    font-family: Superspace;
  }

 ul {
  list-style-type: none;
  margin: 70px 20px;
  padding: 0px 25px;
  width: 300px;
  

}

 li a {
  display: block;
  color: #000;
  width: 115%;
  text-decoration: none;
}


/* Change the link color on hover */
 li a:hover {
  background-color: #555;
  color: white;
}

